ipython
notebook
numpy==1.26.4
gpustat
einops
matplotlib
plyfile
tensorboard
tqdm
pandas
point_cloud_utils
iopath
scikit-learn
ipdb
colorlog
ftfy
regex
pillow==9.5.0
opencv-python
loguru
numba
mesh2sdf
omegaconf
tetgen
pymeshlab
libigl
polyscope
potpourri3d
simple_parsing
arrgh
open3d
h5py
yacs
trimesh
scikit-image
boto3
pyvista
geomloss
huggingface-hub
diffusers
setuptools
pytz